## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [6]:
s = "Hi there Sam!"
print(s.split());

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [22]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [21]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [25]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

list is mutable while tuple is immutable.

In [29]:
List = [1,2,3,4,5]
List[3]=100
print(List)

[1, 2, 3, 100, 5]

In [42]:
Tuple = (1,2,3,4,5)
Tuple[3]=200 #immutable so it does not compile
print(Tuple)

TypeError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [27]:
mail="user@domain.com"
str=mail.split("@")
print(str[1])

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [31]:
def fun(str):
  if "dog" in str:
    return True
  return False
string = "watchdog"
print(fun(string))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [33]:
def dogcount(string):
  count = 0
  for word in string.split():
    if word.lower()=='dog':
      count += 1
  return count
string = "Dog is a pet animal. My Dog keep barking all night."
print(dogcount(string))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [35]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [36]:
print(caught_speeding(100,False))

Big Ticket

In [37]:
print(caught_speeding(85,True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [39]:
employee_salary = [70000,80000,100000,200000,75000]
total_salary = 0
for salary in employee_salary:
  total_salary += salary;
print(total_salary)

525000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [41]:
dict1 = {
    "Empid" : 123,
    "Empname" : "abcd",
    "Basicpay" : 600000
}
dict2 = {
    "DeptName" : "Software Engineer",
    "DeptId" : 1551
}
dict1.update(dict2)
print(dict1)

{'Empid': 123, 'Empname': 'abcd', 'Basicpay': 600000, 'DeptName': 'Software Engineer', 'DeptId': 1551}